.funciones{
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 0px;
  margin-top: 10px;

}

.card{
  border: 1px solid;
  margin: 0;
  border-radius: 10px;
  width: 20vw;
  height: 15vw;
}